@import "../node_modules/materialize-css/sass/materialize.scss";

@font-face {
    font-family: "Digital-7";
    src: url("fonts/Digital-7/Digital-7.ttf") format("truetype");
}

#calcapp{

}

#calc-input{
  font-size: 50px;
  font-family: Digital-7;
}

.calc-display__div{
  font-size: 20px;
  min-height: 2.14rem;
}

.calc-buttons__wrapper{
  button{
    width: 100%;
  }
}

.calc-extension-buttons__panel{
  padding-bottom: 0;
}

.calc-digit-buttons__panel{
  padding-top: 0;
}
